/* Изменение цвета фона */
body {
    background-color: #000000 !important;
}

/* Изменение цвета текста */
pre, code, .CodeMirror, .input_area {
    background-color: #000000 !important;
    color: #ffffff !important;
}
